<!DOCTYPE html>
<html>
<head>
  <title>Sprzatanie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= user_session %>
</head>
<body>
<p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
